{:paths ["src"]
 :deps {cheshire {:mvn/version "5.10.0"}
        com.cognitect/transit-clj {:mvn/version "1.0.324"}
        com.cognitect/transit-cljs {:mvn/version "0.8.264"}
        org.apache.httpcomponents/httpasyncclient {:mvn/version "4.1.4"}
        org.apache.httpcomponents/httpcore {:mvn/version "4.4.14"}
        org.clojure/clojure {:mvn/version "1.11.1"}
        org.clojure/clojurescript {:mvn/version "1.11.60"}}}